<header class="fixed top-0 w-full bg-[#0a192f]/90 backdrop-blur-sm z-50 px-6 py-4 border-b border-blue-900/40">
    <nav class="max-w-7xl mx-auto flex items-center justify-between">
      <div class="flex items-center gap-2">
        <div class="w-100 h-10 flex items-center justify-center">
          <img src="../../../assets/logo/logo.png" alt="">
        </div>
      </div>

      <ul class="flex items-center gap-8">
        <li><a class="text-gray-300 hover:text-blue-400 transition" routerLink="/home">Properties</a></li>
        <li><a class="text-gray-300 hover:text-blue-400 transition">About</a></li>
        <li>
          <button (click)="onUserClick()" class="text-gray-300 hover:text-blue-400 transition">
            <i class="fas fa-user text-xl"></i> 
          </button>
        </li>
      </ul>
    </nav>
  </header>
<router-outlet></router-outlet>